.main{
    background-color: rgb(231, 227, 223);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.main figure{
    width: 400px;
    background-color: rgba(92, 91, 94, 0.233);
    margin: 10px;
    height: 400px;
    border-radius: 10px;
    color: aliceblue;
}